@model LessonViewModel
@{
    ViewData["Title"] = "Deleting lesson #" + Model.LessonId;
}

<div class="container">
    <div class="text-center">
        <h3>Are you sure that you want to delete this lesson?</h3>
        <hr />
        <form asp-controller="Lesson" asp-action="Delete" method="post">
            <input type="hidden" value="@Model.CreatedByUserName" asp-for="@Model.CreatedByUserName" />
            <input type="hidden" value="@Model.LessonId" asp-for="@Model.LessonId" />
            <input class="btn btn-sm btn-outline-danger" type="submit" value="Delete" />
            <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.LessonId" class="btn btn-sm btn-outline-dark">
                Cancel
            </a>
        </form>
        <br />
    </div>
    <div class="card mb-3 card-style-80-rem">
        <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.VideoName" data-poster="@Model.VideoLink">
            <source src="@Model.VideoLink" type="@Model.VideoContentType" />
            <a href="@Model.VideoLink" download>Download</a>
        </video>
        <div class="card-body">
            <h5 class="card-title">@Model.LessonName</h5>
            <hr />
            <p class="card-text">@Model.Description</p>
            <p class="card-text">
                <small class="text-muted">Created by - @Model.CreatedByUserName | </small>
                <small class="text-muted">Category - @Model.CategoryName | </small>
                <small class="text-muted">Grade - @Model.Grade</small>
            </p>
            <a asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.ZippedFile" class="btn btn-sm btn-outline-info">
                <i class="fas fa-arrow-down"></i> Download Resources
            </a>
        </div>
    </div>
    @await Component.InvokeAsync("AllComments", new { lessonId = Model.LessonId })
    <br />
</div>
