@model PostEditModel
@{
    ViewData["Title"] = "Editing lesson #" + Model.PostId;
}
<h4 class="text-center">Previous video and additional files.</h4>
<hr />
<div align="center">
    <div class="card card-style-40-rem">
        <div>
            <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.OldVideoLink" data-poster="@Model.OldVideoLink">
                @*<source src="~/uploads/videos/sample.mp4" type="video/webm" />*@
                <source src="@Model.OldVideoLink" type="video/mp4" />
                <!-- Fallback for browsers that don't support the <video> element -->
                <a href="@Model.OldVideoLink" download>Download</a>
            </video>
        </div>
        <div class="card-body">
            <a asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.OldFilesLink" class="btn btn-sm btn-outline-dark">
                <i class="fas fa-arrow-down"></i> Download Resources
            </a>
        </div>
    </div>
    <br />
    <div class="text-center">
        <h3>Editing lesson #@Model.PostId</h3>
        <hr />
        <form asp-controller="Lesson" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.PostId" asp-for="@Model.PostId" class="form-control" />
            <div class="form-group">
                <label asp-for="@Model.LessonName"></label>
                <input asp-for="@Model.LessonName" class="form-control" />
                <span asp-validation-for="@Model.LessonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CategoryId" class="control-label"></label>
                <select asp-for="@Model.CategoryId" asp-items="@ViewBag.CategoryId" class="form-control"></select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" class="form-control">
                    <option selected="selected" disabled value="">- Please Select Grade -</option>
                </select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Video"></label>
                <input asp-for="@Model.Video" class="form-control" />
                <span asp-validation-for="@Model.Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Files"></label>
                <input asp-for="@Model.Files" class="form-control" />
                <span asp-validation-for="@Model.Files" class="text-danger"></span>
            </div>

            <input class="btn btn-sm btn-outline-success" type="submit" value="Save" />

            <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.PostId" class="btn btn-sm btn-outline-dark">
                Cancel
            </a>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>

    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}