@model WeLearn.Web.ViewModels.Admin.Report.AdminReportDeleteModel
@{
    ViewData["Title"] = "Delete a report";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">
            <h1>Delete</h1>
            <h3>Report</h3>
            <hr />
            <div>
                <h4>Information about the user</h4>
                <hr />
                <p><strong>User ID:</strong> @Model.ApplicationUserId</p>
                <p><strong>Username:</strong> @Model.ApplicationUserUserName</p>
                <p><strong>Email:</strong> @Model.ApplicationUserEmail</p>
            </div>
            <hr />
            <div>
                @if (Model.LessonId != null)
                {
                    <h4>Additional information about the lesson</h4>
                    <hr />
                    <p><strong>Name:</strong> @Model.LessonName</p>
                    <p><strong>Description:</strong> @Model.LessonDescription</p>
                                                                             
                    <a asp-area="" asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.LessonId" class="btn btn-sm btn-outline-secondary mt-2 mb-1">
                        Watch
                    </a>
                }
                @if (Model.CommentId != null)
                {
                    <h4>Additional information about the comment</h4>
                    <hr />
                    <span><strong>Content:</strong> @Model.CommentContent</span>
                }
            </div>

            <hr />
            <h4>Report details</h4>
            <hr />
            <p><strong>Subject:</strong> @Model.Subject</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Date created:</strong> <time datetime="@Model.CreatedOn.ToString("O")">@Model.CreatedOn.ToString("g")</time></p>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" disabled /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>

            <form asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
                </div>
            </form>
        </div>
    </div>
</div>
@* *@
@* @section Scripts { *@
@*     <partial name="_DateTimePicker" /> *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
