@model WeLearn.Web.ViewModels.Admin.Comment.AdminCommentDeleteModel
@{
    ViewData["Title"] = "Deleting a comment";
}

<div class="container text-center">
    <h1>Delete</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h2>Lesson</h2>
            <hr />
            <div class="card">
                <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.LessonVideoName" data-poster="@Model.LessonVideoLink">
                    <source src="@Model.LessonVideoLink" type="@Model.LessonVideoContentType" />
                    <a href="@Model.LessonVideoLink" download>Download</a>
                </video>
                
                <div class="card-body">
                    <h5 class="card-title">@Model.LessonName</h5>
                    <hr />
                    <p class="card-text">@Model.LessonDescription</p>
                    @{ var createdBy = Model.LessonApplicationUserUserName ?? "Deleted User"; }
                   
                    <div class="card-text">
                        <p class="small text-muted mt-2">Grade - @Model.LessonGrade</p>
                        <p class="small text-muted">Category - @Model.LessonCategoryName</p>
                        <p class="small text-muted">Created by - @createdBy</p>
                        <p class="small text-muted">Date created - <time datetime="@Model.LessonCreatedOn.ToString("O")">@Model.LessonCreatedOn.ToString("g")</time></p>
                    </div>
                </div>
            </div>
            <hr />
            <a asp-area="" asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.LessonMaterialLink" class="btn btn-sm btn-outline-info">
                &nbsp;<i class="fas fa-arrow-down"></i>&nbsp;Download&nbsp;Resources
            </a>
            <hr />
        </div>
        
        <div class="col-md-6">
            <h2>Comment</h2>
            <hr />
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <p>Created by: @Model.ApplicationUserUserName</p>
                <p>Date created: <time datetime="@Model.CreatedOn.ToString("O")">@Model.CreatedOn.ToString("g")</time></p>
                <p>Content: @Model.Content</p>
                <input class="form-check-input" asp-for="IsDeleted" disabled />
                @Html.DisplayNameFor(model => model.IsDeleted)
            </div>
           
            <hr />
            <form asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_DateTimePicker" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
