@model WeLearn.Data.Models.Lesson

@{
    ViewData["Title"] = "Lesson details";
}

<div class="container">
    <h1>Details</h1>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            Created by user
        </dt>
        <dd class="col-sm-10">
            ID: @Html.DisplayFor(model => model.ApplicationUser.Id)
            <br />
            Username: @Html.DisplayFor(model => model.ApplicationUser.UserName)
            <br />
            Email: @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class="col-sm-10">
            <div class=" max-width-40-percent">
                <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.Video.Name" data-poster="@Model.Video.Link">
                    <source src="@Model.Video.Link" type="@Model.Video.ContentType" />
                    <a href="@Model.Video.Link" download>Download</a>
                </video>
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.Material.Link" class="btn btn-sm btn-outline-info">
                <i class="fas fa-arrow-down"></i> Download Resources
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Model.DateCreated.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-success">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}