@model WeLearn.Data.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName) ---
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Name) ---
            @Html.DisplayFor(model => model.Video.Link) ---
            @Html.DisplayFor(model => model.Video.ContentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
    <div>
        @{
            var videoLink = Html.DisplayFor(model => model.Video.Link);
            var videoName = Html.DisplayFor(model => model.Video.Name);
            var videoContentType = Html.DisplayFor(model => model.Video.ContentType);
        }
        <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@videoName" data-poster="@videoLink">
            <source src="@videoLink" type="@videoContentType" />
            <a href="@videoLink" download>Download</a>
        </video>
    </div>
    <div>
        <hr />
        @{ var materialLink = Html.DisplayFor(model => model.Material.Link); }
        <a asp-area="" asp-controller="Lesson" asp-action="Download" asp-route-link="@materialLink" class="btn btn-sm btn-outline-info">
            <i class="fas fa-arrow-down"></i> Download Resources
        </a>
    </div>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-success">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>
    </div>
    <br />
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}