@model AdministrationLessonModel
@{
    ViewData["Title"] = "Edit a lesson";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">
            <h1>Edit</h1>
            <h3>Lesson</h3>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LessonName" class="control-label"></label>
                    <input asp-for="LessonName" class="form-control" />
                    <span asp-validation-for="LessonName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CategoryId" class="control-label"></label>
                    <select asp-for="@Model.CategoryId" asp-items="@ViewBag.CategoryId" class="form-control"></select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" class="form-control">
                        <option selected="selected" disabled value="">- Please Select Grade -</option>
                    </select>
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" id="datepicker" type="text" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                    </label>
                </div>
                <hr />
                <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.VideoName" data-poster="@Model.VideoLink">
                    <source src="@Model.VideoLink" type="@Model.VideoContentType" />
                    <a href="@Model.VideoLink" download>Download</a>
                </video>
                <hr />
                <input type="hidden" asp-for="LessonId" />
                <div class="form-group">
                    <a asp-area="" asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.ZippedFile" class="btn btn-sm btn-outline-info">
                        <i class="fas fa-arrow-down"></i> Download Resources
                    </a>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_DateTimePicker" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}
