@model AllPrivateMessagesViewModel<PrivateMessageIndexViewModel>
@{
    ViewData["Title"] = "Private messages";
}

<div class="container">
    @if (Model.PrivateMessageModels.Any())
    {
        <div class="text-center">
            <div class="row row-cols-1 row-cols-md-3">
                @foreach (var privateMessage in Model.PrivateMessageModels)
                {
                    <div class="col mb-3">
                        <div class="card border-success">
                            <div class="card-header bg-transparent">@privateMessage.OtherCorrespondent</div>
                            <div class="card-body">
                                @*<h5 class="card-title">Light card title</h5>*@
                                <p class="card-text mb-2">
                                    <a asp-controller="Message" asp-action="To" asp-route-correspondent="@privateMessage.OtherCorrespondent" class="no-underline">
                                        @privateMessage.Text.Truncate(60)
                                    </a>
                                </p>
                                <small class="text-muted">
                                    <time datetime="@privateMessage.CreatedOn.ToString("O")">@privateMessage.Text</time>
                                </small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h3>No private messages have been found.</h3>
        </div>
    }
    <div class="col-sm-11 offset-sm-1 col-md-10 offset-md-1 text-center">
        <a asp-controller="Message" asp-action="Create" class="btn btn-sm btn-outline-success">
            <i class="fas fa-envelope-open-text"></i> Create a new message
        </a>
    </div>
</div>
