@model IEnumerable<CommentReportModel>
@{
    ViewData["Title"] = "Comments reported by me";
}

<div class="container">
    <div class="row">
        @foreach (var report in Model)
        {
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comment details</h5>
                        <hr />
                        <p class="card-text">
                            <h5>@report.CommentContent</h5>
                            @{ var createdBy = report.OriginApplicationUserUserName == null ? "Deleted User" : report.OriginApplicationUserUserName; }
                            <small class="text-muted">Created by - @createdBy</small>
                        </p>
                    </div>
                    <div class="card-body">
                        <h5>Report details</h5>
                        <hr />
                        <div class="form-group">
                            <label asp-for="@report.Subject"></label>
                            <h6 class="card-title">@report.Subject</h6>
                        </div>
                        <div class="form-group">
                            <label asp-for="@report.ReportDescription"></label>
                            <h6 class="card-text">@report.ReportDescription</h6>
                        </div>

                        <a asp-controller="Report" asp-action="CommentEdit" asp-route-reportid="@report.ReportId" class="btn btn-sm btn-outline-success mb-2">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-controller="Report" asp-action="CommentDelete" asp-route-reportid="@report.ReportId" class="btn btn-sm btn-outline-danger mb-2">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    @*<partial name="_MultipleLessonsPartial" />*@
    @if (Model.Count() == 0)
    {
        <h1 class="display-4 text-center">You don't have any reports to comments yet.</h1>
        <hr />
    }
</div>
