@model LessonReportModel
@{
    ViewData["Title"] = "Deleting report #" + Model.ReportId;
}

<div class="container">
    <div class="text-center">
        <h3>Are you sure that you want to delete the following report?</h3>
        <hr />
        <form asp-controller="Report" asp-action="LessonDelete" method="post">
            <input type="hidden" value="@Model.ReportId" asp-for="@Model.ReportId" class="form-control" />
            <input type="hidden" value="@Model.ReportingUserId" asp-for="@Model.ReportingUserId" class="form-control" />
            <div class="form-group">
                <span>Subject: </span>
                <span>@Model.Subject</span>
            </div>
            <div class="form-group">
                <span>Description: </span>
                <span>@Model.ReportDescription</span>
            </div>
            <input type="submit" name="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
            <a asp-controller="Report" asp-action="ByMe" class="btn btn-sm btn-outline-dark">
                Cancel
            </a>
        </form>
        <br />
    </div>
    <div class="card mb-3 card-style-80-rem">
        <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.VideoName" data-poster="@Model.VideoLink">
            <source src="@Model.VideoLink" type="@Model.VideoContentType" />
            <a href="@Model.VideoLink" download>Download</a>
        </video>
        <div class="card-body">
            <h5 class="card-title">@Model.LessonName</h5>
            <hr />
            <p class="card-text">@Model.Description</p>
            <p class="card-text">
                @{ var createdBy = Model.OriginApplicationUserUserName == null ? "Deleted User" : Model.OriginApplicationUserUserName; }
                <small class="text-muted">Created by - @createdBy | </small>
                <small class="text-muted">Category - @Model.CategoryName | </small>
                <small class="text-muted">Grade - @Model.Grade</small>
                <small class="text-muted">Date created - @Model.LessonDateCreated.ToShortDateString()</small>
            </p>
            <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.OriginId" class="btn btn-sm btn-outline-dark">
                <i class="fas fa-info"></i> Details
            </a>
            <a asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.ZippedFile" class="btn btn-sm btn-outline-info">
                <i class="fas fa-arrow-down"></i> Download Resources
            </a>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}
