@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="landing"> *@
@* </div> *@

<div class="container text-center bg-text mb-3 mt-3">
    @* <h1 class="pt-3">Welcome to WeLearn!</h1> *@
    <h1>Welcome to @GlobalConstants.SystemName!</h1>
    <hr/>

    <h5 class="">The purpose of the web application is to be a place for sharing all kinds of knowledge, but mainly information related to the subjects taught in school.</h5>
    <h5 class="mb-4">Feel free to look around, register and submit a lesson!</h5>
    <h5 class="mt-4">Currently we have:</h5>
    <h5>@Model.UsersCount users 👨‍💻</h5>
    <h5>@Model.CategoriesCount categories 📊</h5>
    <h5>@Model.LessonsCount lessons 📗</h5>
</div>

@section Styles {
    <link href="@Url.Content("~/css/background.css")" rel="stylesheet" type="text/css"/>
}