@model IEnumerable<QuizViewModel>
@{
    ViewData["Title"] = "Quizzes";
}

<div class="container-fluid pl-5 pr-5 text-center">
    <h3 class="mt-4 mb-4">Quizzes available for taking</h3>

    <div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Max points
                        </th>
                        <th>
                            Date created
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var availableQuiz in @Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => availableQuiz.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => availableQuiz.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => availableQuiz.MaxPoints)
                            </td>
                            <td>
                                <time datetime="@availableQuiz.CreatedOn.ToString("O")">
                                    @availableQuiz.CreatedOn.ToString("g")
                                </time>
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Quiz" asp-action="Take" asp-route-id="@availableQuiz.Id"
                                   class="btn btn-sm btn-outline-success">
                                    Take
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>