@model WeLearn.Web.ViewModels.Quiz.QuizTakingInputModel
@{
    ViewData["Title"] = "Taking quiz #" + @Model.Id;
}

<div class="container text-center">
    <h3 class="mt-4">@ViewData["Title"]</h3>
    <hr class="mb-4"/>

    <div>
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => Model.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => Model.CategoryName)</h6>

                        <div class="mt-3">
                            @Model.MaxPoints maximum points.
                        </div>

                        <div>
                            <time datetime="@Model.CreatedOn.ToString("O")">
                                @Model.CreatedOn.ToString("g")
                            </time>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-12 mt-4">
                <form method="post" asp-area="" asp-controller="Quiz" asp-action="Take">
                    <input name="quizId" value="@Model.Id" type="hidden"/>
            
                    @foreach(var question in @Model.Questions)
                    {
                        <input type="hidden" name="questionId" value="@question.Id"/>

                        <div class="text-center mb-5">
                            <h4>
                                @question.Content - @question.Points points
                            </h4>
            
                            <hr class="mr-5 ml-5">
            
                            @foreach (var answer in question.Answers)
                            {
                                <div>
                                    <input type="radio" name="question_@question.Id" value="@answer.Id" />
                                    @answer.Content
                                </div> 
                            }
                        </div>
                    }
            
                    <button type="button" disabled="disabled"  class="btn btn-sm btn-outline-success end-quiz" data-toggle="modal" data-target="#confirmModal">
                        Submit
                    </button>
                    
                    <!-- Submit Modal -->
                    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmModalLabel">Submit & end quiz</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body container">
                                    <div>Are you sure that you want to submit and end the quiz?</div>
                                </div>
                              
                                <div class="modal-footer">
                                    <button type="submit" value="Submit" class="btn btn-sm btn-outline-success">
                                        Submit
                                    </button>
                                    
                                    <button type="button" class="btn btn-sm btn-outline-dark" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-3">
                        <p class="text-muted">
                            Make sure all questions are answered before you submit.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        let endQuizButton = document.getElementsByClassName("end-quiz")[0];
        let allRadioInputs = document.querySelectorAll("input[type=radio]");
        let allQuestionsCount = @Model.Questions.Count;
        let allAreAnswered = false;
        
        function allQuestionsAreAnswered() {
            let checkedElementsCount = document.querySelectorAll("input[type=radio]:checked").length;
            return Number(allQuestionsCount) === Number(checkedElementsCount);
        }
        
        allRadioInputs.forEach(radio => {
            radio.addEventListener("click", () => {
                allAreAnswered = allQuestionsAreAnswered();
                
                // if all are answered -> return false, it should not be disabled
                // else -> return true, it should be disabled
                endQuizButton.disabled = !allAreAnswered;
            });
        });
    </script>
}

@* todo: clean up *@
@* <input type="radio" asp-for="SelectedAnswers"  value="@answer.Id" />  *@
@* <label asp-for="@answer.Id">@answer.Content</label>  *@
@* <input type="hidden" asp-for="@answer.Id" />  *@

@* <input type="radio" asp-for="@answer.Id" name="@answer.QuestionId" value="b" /> @answer.Content *@

@* @Html.RadioButtonFor(m => question.Id, answer.Id) @answer.Content *@

@* @Html.RadioButtonFor(x => answer.QuestionContent, answer.Id) @answer.Content *@

@* <input type="radio" asp-for="@answer.Id" name="@answer.QuestionId" value="@answer.Id" /> @answer.Content *@
@* <input type="radio" asp-for="@answer.Id" name="MyRadioField[]" value="@answer.Id" /> @answer.Content *@

@* <input asp-for="@question.Id" hidden /> *@
@* <input type="radio" asp-for="@answer.IsCorrect" value="@answer.Id" /> *@
@* @answer.Content *@

@* @Html.RadioButtonFor(x => question.QuestionId, answer.Id) *@
@* @answer.Content *@

@* <input type="hidden" value="@answer.QuestionId" asp-for="@answer.QuestionId" /> *@
@* *@
@* <input type="radio" asp-for="@Model.Choices" *@
@*        value="@answer"/> @answer.Content *@