@model LessonReportViewModel
@{
    ViewData["Title"] = "Reporting lesson #" + Model.OriginId;
}

<div class="container">
    <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center">
        <div class="card mb-2">
            <div>
                <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.LessonVideoName" data-poster="@Model.LessonVideoLink">
                    <source src="@Model.LessonVideoLink" type="@Model.VideoContentType" />
                    <a href="@Model.LessonVideoLink" download>Download</a>
                </video>
                <div class="card-body">
                    <h5 class="card-title">@Model.LessonName</h5>
                    <hr />
                    <p class="card-text">@Model.LessonDescription</p>
                    <p class="card-text">
                        @{ var createdBy = Model.OriginApplicationUserUserName == null ? "Deleted User" : Model.OriginApplicationUserUserName; }
                        <div>
                            <small class="text-muted">Created by - @createdBy</small>
                        </div>
                        <div>
                            <small class="text-muted">Category - @Model.LessonCategoryName</small>
                        </div>
                        <div>
                            <small class="text-muted">Grade - @Model.LessonGrade</small>
                        </div>
                        <div>
                            <small class="text-muted">Date created - @Model.LessonDateCreated.ToShortDateString()</small>
                        </div>
                    </p>
                    <a asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.LessonMaterialLink" class="mt-3 btn btn-sm btn-outline-dark">
                        <i class="fas fa-arrow-down"></i> Download Resources
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h3 class="text-center">Reporting lesson #@Model.OriginId</h3>
            <hr />
            <form asp-controller="Report" asp-action="Lesson" method="post">
                <input type="hidden" value="@Model.OriginId" asp-for="@Model.OriginId" class="form-control" />
                <div class="form-group">
                    <label asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReportDescription"></label>
                    <textarea asp-for="ReportDescription" class="form-control"></textarea>
                    <span asp-validation-for="ReportDescription" class="text-danger"></span>
                </div>

                <input class="btn btn-sm btn-outline-info" type="submit" value="Report" />
                <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.OriginId" class="btn btn-sm btn-outline-dark">
                    Cancel
                </a>
            </form>
        </div>
    </div>
    <a asp-controller="Lesson" asp-action="All" class="btn mb-3 btn-sm btn-outline-dark"><i class="fas fa-arrow-left"></i> Back to all</a>
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}
