@model LessonReportDeleteModel
@{
    ViewData["Title"] = "Deleting report #" + Model.ReportId;
}

<div class="container">
    <div class="text-center">
        <h3>Are you sure that you want to delete the following report?</h3>
        <hr />
		<form asp-controller="Report" asp-action="LessonDelete" method="post">
			<input type="hidden" value="@Model.ReportId" asp-for="@Model.ReportId" class="form-control" />
			<input type="hidden" value="@Model.ApplicationUserId" asp-for="@Model.ApplicationUserId" class="form-control" />
			<div class="mb-3">
				<p>Subject: </p>
				<p>@Model.Subject</p>
			</div>
			<div class="mb-3">
				<p>Description: </p>
				<p>@Model.ReportDescription</p>
			</div>
			<div class="mb-3">
				<p>Date created: </p>
				<p><time datetime="@Model.DateCreated.ToString("O")">@Model.DateCreated.ToString("g")</time></p>
			</div>
			<div class="mb-3">
				<input type="submit" name="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
				<a asp-controller="Report" asp-action="ByMe" class="btn btn-sm btn-outline-dark">
					Cancel
				</a>
			</div>
		</form>
    </div>
    <div class="card mb-3 card-style-80-rem">
        <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.LessonVideoName" data-poster="@Model.LessonVideoLink">
            <source src="@Model.LessonVideoLink" type="@Model.VideoContentType" />
            <a href="@Model.LessonVideoLink" download>Download</a>
        </video>
        <div class="card-body">
            <h5 class="card-title">@Model.LessonName</h5>
            <hr />
            <p class="card-text mb-2">@Model.LessonDescription</p>
            <p class="card-text mb-3">
                @{ var createdBy = Model.LessonApplicationUserUserName == null ? "Deleted User" : Model.LessonApplicationUserUserName; }
                <small class="text-muted">Created by - @createdBy | </small>
                <small class="text-muted">Category - @Model.LessonCategoryName | </small>
                <small class="text-muted">Grade - @Model.LessonGrade | </small>
                <small class="text-muted">Date created - <time datetime="@Model.LessonDateCreated.ToString("O")">@Model.LessonDateCreated.ToString("g")</time></small>
            </p>
            <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.LessonId" class="btn btn-sm btn-outline-dark">
                <i class="fas fa-info"></i> Details
            </a>
            <a asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.LessonMaterialLink" class="btn btn-sm btn-outline-info">
                <i class="fas fa-arrow-down"></i> Download Resources
            </a>
        </div>
    </div>
</div>

@* todo: find a way to add padding/margin *@
<br />

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
}
