<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-signin-client_id" content="683158115512-kek44cn4mtvhl1mr00uq9t3mv613sofr.apps.googleusercontent.com">
    <title>@ViewData["Title"] - @GlobalConstants.SystemName</title>

    @* SB Admin 2 *@
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    @* Site CSS *@
    <link rel="stylesheet" href="~/css/site.css"/>
        
    @* Plyr *@
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css"/>

    @* <script src="https://kit.fontawesome.com/c952ac5cde.js" crossorigin="anonymous"></script> *@
    @* bootstrap 4.3.1 *@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @* bootstrap 4.6.0 *@
    @* <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/> *@
    
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
        @* <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow"> *@
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/logo.png" class="logo" alt="earth"/>
                <span>@GlobalConstants.SystemName</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @{
                        var isUserAdminOrTeacher = User.IsInRole(GlobalConstants.ApplicationRegularAdministratorRoleName) ||
                                                   User.IsInRole(GlobalConstants.ApplicationTeacherRoleName);
                    }
                    @if (isUserAdminOrTeacher)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="Administration" asp-controller="Manage" asp-action="Index">Administration</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Joined" asp-route-id="1">
                            Chat
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Quiz" asp-action="All">
                            Quizzes
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="organizationDropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Organizations
                            </button>
                            <div class="dropdown-menu" aria-labelledby="organizationDropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="All">
                                    All
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Create">
                                    Create
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Joined">
                                    Joined
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="lessonDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lessons
                            </button>
                            <div class="dropdown-menu" aria-labelledby="lessonDropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="All">
                                    All
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="Create">
                                    Create
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="Recommended">
                                    Recommended
                                </a>
                            </div>
                        </div>
                    </li>

                    @await Component.InvokeAsync("LessonsNavigatorDropdown")

                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Activity
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Quiz" asp-action="Dashboard">Quizzes taken by me</a>
                                <hr>
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="LikedByMe">Lessons liked by me</a>
                                <hr>
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="ByMe">Lessons created by me</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Comment" asp-action="ByMe">Comments created by me</a>
                                <hr/>
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="LessonsByMe">Lessons reported by me</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CommentsByMe">Comments reported by me</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <partial name="_LoginPartial"/>
                    </li>

                    @* todo: add translations, culture  *@
                    @* <li class="nav-item"> *@
                    @*     <partial name="_Culture" /> *@
                    @* </li> *@
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid padding pb-5">
    @RenderBody()
</div>

<footer class="border-top footer bg-white text-muted text-center mt-4">
    <div class="container">
        @DateTime.Now.Year • WeLearn • @await Component.InvokeAsync("UsersCountSummary") •
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> •
        <a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a> •
        <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
    </div>
</footer>

<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js" asp-append-version="true"></script>
<!-- Page level custom scripts -->
<script src="~/js/demo/chart-area-demo.js" asp-append-version="true"></script>
<script src="~/js/demo/chart-pie-demo.js" asp-append-version="true"></script>

@* <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script> *@
@* bootstrap 4.3.1 *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
@* bootstrap 4.6.0 *@
@* <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script> *@

@* unobtrusive client-side validation *@
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js" asp-append-version="true"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

<script src="~/lib/luxon/luxon.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
