@using WeLearn.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-signin-client_id" content="683158115512-kek44cn4mtvhl1mr00uq9t3mv613sofr.apps.googleusercontent.com">
    <title>@ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Custom fonts-->
    @* <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> *@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <script src="https://kit.fontawesome.com/c952ac5cde.js" crossorigin="anonymous"></script>
    @* bootstrap 4.3.1 *@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @* bootstrap 4.6.0 *@
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>

    @* site css *@
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", false)

    @* plyr *@
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
        @* <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow"> *@
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/logo.png" class="logo" alt="earth"/>
                <span>@GlobalConstants.SystemName</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="Administration" asp-controller="Manage" asp-action="Index">Administration</a>
                        </li>
                    }
 
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Joined" asp-route-id="1">
                            Chat
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Lesson" asp-action="Create">
                            Create
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Lesson" asp-action="All">
                            Lessons
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Quiz" asp-action="Dashboard">
                            Quizzes
                        </a>
                    </li>
                    
                    @await Component.InvokeAsync("LessonsNavigatorDropdown")
                    
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @* My activity *@
                                Activity
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="LikedByMe">Lessons liked by me</a>
                                <hr>
                                <a class="dropdown-item" asp-area="" asp-controller="Lesson" asp-action="ByMe">Lessons created by me</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Comment" asp-action="ByMe">Comments created by me</a>
                                <hr/>
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="LessonsByMe">Lessons reported by me</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CommentsByMe">Comments reported by me</a>
                            </div>
                        </div>
                    </li>

                    @* todo: fix *@
                    @* <li class="nav-item"> *@
                    @*     <partial name="_PrivateMessagesPartial" /> *@
                    @* </li> *@

                    <li class="nav-item">
                        <partial name="_LoginPartial"/>
                    </li>

                    @* todo: add translations  *@
                    @* <li class="nav-item"> *@
                    @*     <partial name="_Culture" /> *@
                    @* </li> *@
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid padding pb-5">
    @RenderBody()
</div>

@*<footer class="sticky-footer footer bg-white mb-2 mt-2">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            &copy; @DateTime.Now.Year - WeLearn - @await Component.InvokeAsync("UsersCountSummary") -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
            <a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a> -
            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
        </div>
    </div>
</footer>*@

<footer class="border-top footer bg-white text-muted text-center mt-4">
    <div class="container">
        @DateTime.Now.Year • WeLearn • @await Component.InvokeAsync("UsersCountSummary") •
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> •
        <a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a> •
        <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>

    @* Bootstrap core JavaScript *@
    @* <script src="~/vendor/jquery/jquery.min.js"></script> *@
    @* <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> *@

    @*<script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>*@

    @* bootstrap 4.3.1 *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @* bootstrap 4.6.0 *@
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    @* unobtrusive client-side validation *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @*  *@
    <script src="~/lib/luxon/luxon.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}