<video id="player" class="js-player" playsinline controls crossorigin="anonymous" 
       alt="@Model.LessonVideoName" data-poster="@Model.LessonVideoLink">
    <source src="@Model.LessonVideoLink" type="@Model.LessonVideoContentType" />
    <a href="@Model.LessonVideoLink" download>Download</a>
</video>