@model IEnumerable<WeLearn.Web.ViewModels.Comment.CommentViewModel>

@foreach (var item in Model)
{
    <div class="card mb-3 card-style-80-rem">
        <div class="card-body">
            <h5 class="card-title">@item.UserUserName wrote</h5>
            <hr />
            <input asp-for="@item.LessonId" type="hidden" />
            <div class="form-group">
                <p>
                    @Html.Raw(item.Content)
                </p>
                <small class="text-muted">on <time datetime="@item.CreatedOn.ToString("O")">@item.CreatedOn.ToString("g")</time></small>
            </div>
            @if (User.Identity?.Name == item.UserUserName)
            {
                <a asp-controller="Comment" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
            }
            <a asp-controller="Report" asp-action="Comment" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">
                <i class="far fa-flag"></i> Report
            </a>
        </div>
    </div>
}
