@model PaginatedList<LessonViewModel>
@{
    ViewData["Title"] = "Lessons created by me";
}

<div class="container">
    <form asp-area="" asp-controller="Lesson" asp-action="ByMe" method="get">
        <label>Find by name or description:</label>
        <div class="input-group input-group-sm mb-3">
            <input type="text" name="SearchString" class="form-control input-sm col-md-3" value="@Model.SearchString" />
            <input type="submit" value="Search" class="btn btn-sm btn-outline-success ml-1" />
        </div>
    </form>
    @if (Model.Count() == 0)
    {
        <h1 class="display-4 text-center">You don't have any lessons yet.</h1>
        <hr />
    }
    else
    {
        <div class="text-center">
            <partial name="_MultipleLessonsPartial" />
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <div class="mt-2 mb-2">
                <a asp-controller="Lesson"
                   asp-action="ByMe"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-searchString="@Model.SearchString"
                   class="btn btn-sm btn-outline-dark @prevDisabled">
                    <i class="fas fa-arrow-left"></i> Previous
                </a>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a asp-controller="Lesson"
                       asp-action="ByMe"
                       asp-route-pageNumber="@i"
                       asp-route-searchString="@@Model.SearchString"
                       class="btn btn-sm btn-outline-dark ">
                        @i
                    </a>
                }
                <a asp-controller="Lesson"
                   asp-action="ByMe"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-searchString="@Model.SearchString"
                   class="btn btn-sm btn-outline-dark @nextDisabled">
                    Next <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>

    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));
        window.player = player;
    </script>
}
