@model AdminCommentEditModel
@{
    ViewData["Title"] = "Edit a comment";
}

<div class="container text-center">
    <h1>Edit</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h2>Lesson</h2>
            <hr />
            <div class="card">
                <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@Model.LessonVideoName" data-poster="@Model.LessonVideoLink">
                    <source src="@Model.LessonVideoLink" type="@Model.LessonVideoContentType" />
                    <a href="@Model.LessonVideoLink" download>Download</a>
                </video>
                <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-title">@Model.LessonName</h5>
                        <hr />
                        <p class="card-text">@Model.LessonDescription</p>
                        @{ var createdBy = Model.LessonApplicationUserUserName == null ? "Deleted User" : Model.LessonApplicationUserUserName; }
                        <p class="small text-muted mt-3">Grade - @Model.LessonGrade</p>
                        <p class="small text-muted">Category - @Model.LessonCategoryName</p>
                        <p class="small text-muted">Created by - @createdBy</p>
                        <p class="small text-muted">Date created - <time datetime="@Model.LessonDateCreated.ToString("O")">@Model.LessonDateCreated.ToString("g")</time></p>
                    </div>
                </div>
            </div>
            <hr />
            <a asp-area="" asp-controller="Lesson" asp-action="Download" asp-route-link="@Model.LessonMaterialLink" class="btn btn-sm btn-outline-info">
                &nbsp;<i class="fas fa-arrow-down"></i>&nbsp;Download&nbsp;Resources
            </a>
            <hr />
        </div>
        <div class="col-md-6">
            <h2>Comment</h2>
            <hr />
            <p>Created by: @Model.ApplicationUserUserName</p>
            <p>Date created: <time datetime="@Model.DateCreated.ToString("O")">@Model.DateCreated.ToString("g")</time></p>
            <hr />
            <form asp-action="Edit">
                <input asp-for="LessonId" type="hidden" />
                <input asp-for="ApplicationUserId" type="hidden" />
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" id="datepicker" type="text" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" />
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-success" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
                </div>
            </form>
        </div>
    </div>
    </div>


@section Scripts {
    <partial name="_DateTimePicker" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>
        const player = new Plyr('#player');
        window.player = player;
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
