@model IEnumerable<ExaminationViewModel>
@{
    // ViewData["Title"] = "Quizzes taken by users";
    ViewData["Title"] = "Manage examinations";
}

<div class="container-fluid pl-5 pr-5 text-center">
    <h3 class="mt-4 mb-4">@ViewData["Title"]</h3>

    <div>
        <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Quiz name
                        </th>
                        <th>
                            Quiz category
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Points
                        </th>
                        <th>
                            Quiz max points
                        </th>
                        <th>
                            Date created
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var examinationViewModel in @Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => examinationViewModel.QuizName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => examinationViewModel.QuizCategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => examinationViewModel.ApplicationUserUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => examinationViewModel.Points)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => examinationViewModel.QuizMaxPoints)
                            </td>
                            <td>
                                <time datetime="@examinationViewModel.CreatedOn.ToString("O")">
                                    @examinationViewModel.CreatedOn.ToString("g")
                                </time>
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Quizzes" asp-action="View" asp-route-id="@examinationViewModel.Id"
                                   class="btn btn-sm btn-outline-primary">
                                    View
                                </a>
                            </td>

                            @* <td> *@
                            @*     <time datetime="@quiz.ModifiedOn.ToString("O")">@quiz.ModifiedOn.ToString("g")</time> *@
                            @* </td> *@
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-2"></div>
        </div>
    </div>
</div>