@model IEnumerable<CommentMultiModel>
@{
    ViewData["Title"] = "Comments created by me";
}

<div class="container">
    <div class="row">
        @foreach (var comment in Model)
        {
            <div class="col-lg-4">
                <div class="card">
                    <video id="player" class="js-player" playsinline controls crossorigin="anonymous" alt="@comment.LessonVideoName" data-poster="@comment.LessonVideoLink">
                        <source src="@comment.LessonVideoLink" type="@comment.LessonVideoContentType" />
                        <a href="@comment.LessonVideoLink" download>Download</a>
                    </video>
                    <div class="card-body">
                        <h5 class="card-title">@comment.LessonName</h5>
                        <hr />
                        <p class="card-text">@comment.LessonDescription</p>
                        <p class="card-text">
                            @{ var createdBy = comment.LessonCreatedByUsername == null ? "Deleted User" : comment.LessonCreatedByUsername; }
                            <div>
                                <small class="text-muted">Created by - @createdBy</small>
                            </div>
                            <div>
                                <small class="text-muted">Category - @comment.LessonCategoryName</small>
                            </div>
                            <div>
                                <small class="text-muted">Grade - @comment.LessonGrade</small>
                            </div>
                            <div>
                                <small class="text-muted">Date created - @comment.DateCreated.ToShortDateString()</small>
                            </div>
                        </p>
                        <a asp-controller="Lesson" asp-action="Watch" asp-route-id="@comment.LessonId" class="btn btn-sm btn-outline-dark">
                            <i class="fas fa-info"></i> Details
                        </a>
                        <a asp-controller="Lesson" asp-action="Download" asp-route-link="@comment.LessonZippedFileLink" class="btn btn-sm btn-outline-info">
                            <i class="fas fa-arrow-down"></i> Download Resources
                        </a>
                    </div>
                    <div class="card-body">
                        <h5>Comment Details</h5>
                        <hr />
                        <p class="card-text">@comment.Content</p>
                        <a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.CommentId" class="btn btn-sm btn-outline-success mb-2">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.CommentId" class="btn btn-sm btn-outline-danger mb-2">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Count() == 0)
    {
        <h1 class="display-4 text-center">You don't have any comments yet.</h1>
        <hr />
    }
</div>


@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>

    <script>
        const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));
        window.player = player;
    </script>
}
