@model AdministrationIndexViewModel

<h4 class="m-0 font-weight-bold text-primary">
    Welcome, @(User.Identity?.Name)!
</h4>
<hr class=" mt-2">

<h6 class="text-gray-900">Your roles are: </h6>
<ul>
    @foreach (var roleName in @Model.RoleNames)
    {
        <li class="text-gray-900">
            @if (roleName == SystemHeadAdministratorRoleName)
            {
                <span class="badge badge-primary">
                    @roleName
                </span>
            } 
            else if (roleName == SystemRegularAdministratorRoleName)
            {
                <span class="badge badge-success">
                    @roleName
                </span>
            }
            else if (roleName == SystemTeacherRoleName)
            {
                <span class="badge teacher-color">
                    @roleName
                </span>
            }
        </li>
    }
</ul>

<!-- Content Row -->
<div class="row">
    <!-- users -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total registered users
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.UsersCount users
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- categories -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total categories count
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.CategoriesCount categories</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- quizzes -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Total quizzes count
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.QuizzesCount quizzes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-align-justify fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- lessons -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total lessons count
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.LessonsCount lessons</div>
                    </div>
                    <div class="col-auto">
                        @*<i class="fas fa-comments fa-2x text-gray-300"></i>*@
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
