@model WeLearn.Data.Models.Report

@{
    ViewData["Title"] = "Delete a report";
}

<div class="container">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this report?</h3>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Created by user
            </dt>
            <dd class="col-sm-10">
                ID: @Html.DisplayFor(model => model.ApplicationUser.Id)
                <br />
                Username: @Html.DisplayFor(model => model.ApplicationUser.UserName)
                <br />
                Email: @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lesson)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lesson.Name)
                <br />
                @Html.DisplayFor(model => model.Lesson.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Model.DateCreated.ToShortDateString()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
            <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
        </form>
    </div>
</div>
