@model AdministrationReportModel
@{
    ViewData["Title"] = "Delete a report";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">
            <h1>Delete</h1>
            <h3>Report</h3>
            <hr />
            <div>
                <h4>Information about the user</h4>
                <hr />
                <span>User ID: @Model.ApplicationUserId</span>
                <br />
                <span>Username: @Model.ApplicationUserUserName</span>
                <br />
                <span>Email: @Model.ApplicationUserEmail</span>
            </div>
            <hr />
            <div>
                @if (Model.LessonId != null)
                {
                    <h4>Additional information about the lesson</h4>
                    <hr />
                    <span>Name: @Model.LessonName</span>
                    <br />
                    <span>Description: @Model.LessonDescription</span>
                    <br />
                    <a asp-area="" asp-controller="Lesson" asp-action="Watch" asp-route-id="@Model.LessonId" class="btn btn-sm btn-outline-secondary mt-2 mb-1">Watch</a>
                }
                @if (Model.CommentId != null)
                {
                    <h4>Additional information about the comment</h4>
                    <hr />
                    <span>Content: @Model.CommentContent</span>
                }
            </div>
            <hr />
            <h4>Report details</h4>
            <hr />
            <span>Subject: @Model.Subject</span>
            <br />
            <span>Description: @Model.Description</span>
            <br />
            <span>Date created: @Model.DateCreated.ToShortDateString()</span>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" disabled /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>

            <form asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                    <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to all</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_DateTimePicker" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
