@model WeLearn.Data.Models.Report

@{
    ViewData["Title"] = "Report details";
}

<div class="container">
    <h1>Details</h1>
    <div>
        <h4>Report</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Created by user
            </dt>
            <dd class="col-sm-10">
                ID: @Html.DisplayFor(model => model.ApplicationUser.Id)
                <br />
                Username: @Html.DisplayFor(model => model.ApplicationUser.UserName)
                <br />
                Email: @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>   
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lesson)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lesson.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Model.DateCreated.ToShortDateString()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-success">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Back to List</a>
    </div>
</div>
