@model IEnumerable<WeLearn.Data.Models.Comment>

@{
    ViewData["Title"] = "Comments administration";
}

<partial name="_AdminPartial" />
<h1>Index</h1>
<h3>Comments</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Created by user
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                Navigate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    ID: @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                    <hr />
                    Username: @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                    <hr />
                    Email: @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    Name: @Html.DisplayFor(modelItem => item.Lesson.Name)
                    <hr />
                    Description: @Html.DisplayFor(modelItem => item.Lesson.Description)
                    <hr />
                    Grade: @Html.DisplayFor(modelItem => item.Lesson.Grade)
                    <hr />
                    Category: @Html.DisplayFor(modelItem => item.Lesson.Category.Name)
                </td>
                <td>
                    @item.DateCreated.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a asp-area="" asp-controller="Lesson" asp-action="Watch" asp-route-id="@item.Lesson.Id" class="btn btn-sm btn-outline-secondary">Watch</a>

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Edit / Soft delete</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Hard Delete (Irreversible)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
